@{
    ViewBag.Title = "SevenSaglikGrubu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}
<div style="width:100% !important;font-size:35px;margin-top:10px;text-decoration:underline;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Klinik Verileri</div>
<div style="display:flex;justify-content:space-around;width:100% !important">
    @if (ViewBag.ToplamDoktorSayisi != null)
    {
        <canvas id="DoktorHemsireGrafik" style="width: 300px; height: 300px; margin-top: 100px;"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
   var ctx = document.getElementById('DoktorHemsireGrafik').getContext('2d');
   var DoktorHemsireSayisi = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ToplamDoktorSayisi));

   var myChart = new Chart(ctx, {
       type: 'bar',
       data: {
           labels: ['Toplam Doktor ve Hemşire Sayısı'],
           datasets: [{
               label: 'Toplam Doktor ve Hemşire Sayısı',
               data: [DoktorHemsireSayisi],
               backgroundColor: 'rgba(60, 174, 163, 0.4)',
               borderColor: 'rgba(60, 174, 163, 1)',
               borderWidth: 1
           }]
       },
       options: {
           maintainAspectRatio: false,
           responsive: false,
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero: true,
                       stepSize: 10
                   }
               }]
           }
       }
   });
        </script>
    }
    else
    {
        <p>Doktor bilgileri bulunamadı.</p>
    }

    @if (ViewBag.ToplamHastaSayisi != null)
    {
        <canvas id="HastaSayisiGrafik2" style="width: 300px; height: 300px; margin-top: 100px;"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
var ctx = document.getElementById('HastaSayisiGrafik2').getContext('2d');
var HastaSayisi = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ToplamHastaSayisi));

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Toplam Hasta Sayısı'],
        datasets: [{
            label: 'Toplam Hasta Sayısı',
            data: [HastaSayisi],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        }]
    },
    options: {
        maintainAspectRatio: false,
        responsive: false,
        scales: {
            yAxes: [{
                ticks: {
                    stepSize: 10,
                    beginAtZero: true
                }
            }]
        }
    }
});
        </script>
    }
    else
    {
        <p>Hasta bilgileri bulunamadı.</p>
    }


</div>
