@model HastaTakipWeb.Models.Siniflar.TopImage

@{
    ViewBag.Title = "TopImageGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

@using (Html.BeginForm("TopImageGüncelle", "admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.resim, "Resim URL")
    @Html.TextBoxFor(x => x.resim, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
}

